.banner{
    width: 100%;
    height: 400px;
    background-image: url('../img/slide2_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.right h1{
    float: right;
    margin-right: 180px;
    color: white;
    margin-top: 120px;
    font-weight: 400;
    font-size: 35px;
}
.button{
    float: right;
    margin-top: 250px;
 margin-right: -250px;
}
button{
    border-radius: 30px;
    padding: 15px 35px;
    border: 1px solid #dd3333;
    outline: none;
    background-color: #dd3333;
    color: white;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}
button:hover{
    border: 1px solid #dd3333;
    background: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

@media screen and (max-width: 768px){
    /* .right{
        display: block;
        margin-left: auto;
        margin-right: auto;
    } */
    .right h1{
text-align: center;
        color: white;
        margin-top: 100px;
        font-weight: 400;
        font-size: 22px;
        margin-right: 120px;
    }
    .button{

       margin-top: 40px;
     margin-right: 155px;
    }
}